<launch>
	<arg name="world_file" default="$(find robots_stage)/maps/4korrus/4korrus.world" />
	<arg name="map_file" default="$(find robots_stage)/maps/4korrus/4korrus.yaml" />
	<arg name="robotName1" default="robot_0" />
	<arg name="robotName2" default="robot_1" />
	<arg name="robotName3" default="robot_2" />
	<master auto="start"/>
	<param name="/use_sim_time" value="true"/>

<!-- ROBOT BOSS -->
  <group ns="$(arg robotName1)">
    <param name="tf_prefix" value="$(arg robotName1)" />
    <include file="$(find robots_stage)/launch/includes/single_robot.launch">
        <arg name="robot_name" value="$(arg robotName1)"/>
        <arg name="initial_pose_x" value="28.6"/>
        <arg name="initial_pose_y" value="4.0"/>
        <arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>

  <!-- ROBOT 1 -->
  <group ns="$(arg robotName2)">
    <param name="tf_prefix" value="$(arg robotName2)" />
    <include file="$(find robots_stage)/launch/includes/single_robot.launch">
        <arg name="robot_name" value="$(arg robotName2)"/>
        <arg name="initial_pose_x" value="31.0"/>
        <arg name="initial_pose_y" value="16.0"/>
        <arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>
  
 <!-- ROBOT 2 -->
  <group ns="$(arg robotName3)">
    <param name="tf_prefix" value="$(arg robotName3)" />
    <include file="$(find robots_stage)/launch/includes/single_robot.launch">
	<arg name="robot_name" value="$(arg robotName3)"/>
	<arg name="initial_pose_x" value="30.0"/>
	<arg name="initial_pose_y" value="14.0"/>
	<arg name="initial_pose_a" value="0.0"/>
    </include>
  </group>

  <node pkg="map_server" type="map_server" name="map_server" args="$(arg map_file)" respawn="false" >
    <param name="frame_id" value="/map" />
  </node>

  <!-- Run without GUI args="-g" -->
  
  <node pkg="stage_ros" type="stageros" name="stageros" args="-g $(arg world_file)" respawn="false">
    <param name="base_watchdog_timeout" value="0.2"/>
  </node>
<!--
<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robots_stage)/rviz/rviz_config.rviz"/>  
-->
</launch>
